<ul>
    <li><a asp-controller="Home" asp-action="Index">Home page</a></li>
    <li><a asp-controller="Home" asp-action="Secret">Secret page</a></li>
    <li><a asp-controller="Auth" asp-action="CreateToken">Create Token</a></li>
    <li>----------</li>
    <li><a asp-controller="Home" asp-action="Admin">Admin page</a></li>
    <li><a asp-controller="Home" asp-action="Manager">Manager page</a></li>
</ul>