<h1>AccessDenied</h1>

<p>
    IsAuthenticated:  @ViewBag.IsAuthenticated
</p>
<p>
    Name: @ViewBag.Name
</p>
<a asp-controller="Home" asp-action="Index">Home Index</a> 
<br/>
<a asp-controller="Admin" asp-action="Index">Index</a>
<br/>
<a asp-controller="Admin" asp-action="Administrator">Administrator</a>
<br/>
<a asp-controller="Admin" asp-action="Manager">Manager</a>

